# Python & Ambiente
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Modelos e Dados Pesados (NÃO SUBIR PARA O GITHUB)
*.pth
*.pt
*.zip
*.bin
*.gguf
models/
checkpoints/
datasets/
.cache/
hf_cache/
huggingface/

# Logs e Artefatos Temporários
experiments/logs/
experiments/experiments_log/
paper_resources/data/
runs/

# OS Junk
.DS_Store
Thumbs.db
.venv*
